export(addStrictPreferences)
export(deleteStrictPreferences)
export(addWeakPreferences)
export(deleteWeakPreferences)
export(addIndifferences)
export(deleteIndifferences)
export(buildProblem)
export(calcSolution)
import(Rglpk)
